html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: 'News Gothic Extra Condensed BT' sans-serif;
  background: #242424;
  margin: 5vh;
  overflow-x: hidden;
   }

.barra {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #242424; }

.logo-header {
  width: 80%;
   }

.navbar .nav-item .nav-link {
  color: white;
  font-size: 2.5rem;
  padding: 2vh;
}

.dropdown-menu {
    
    font-size: 2rem;
    
}

div.frente {
  padding-top: 15vh;
  padding-bottom: 5vh;
}

div.logo-png {

  
    padding-top: 5vh; }

.png-der {
    
    margin-top: 2vh
    
}


div.fondo-frente {
  position: absolute;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(to right, #81634f, #242424);
  z-index: -1; }

.sociales {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 20vh;
    right: 0;
    z-index: 1;
    width: 7vh;
    height: 20%;
    border: black 2px solid;
    transition: width 2s;
 }

.sociales:hover {
    
    width: 10vh;
    opacity: 90%;
    
}

.primero {
  padding-top: 5vh;
  padding-bottom: 5vh; }

.foto1 {
  padding: 1vh; }

.carrousel {
  padding: 2vh; }

.video {
  padding: 1vh; }

.img-carousel {
  margin: 0 auto; }

.pie_de_foto {
  text-align: center;
  color: white;
  font-size: 2rem; }

.segunda {
  padding: 2vh; }

.inner {
  overflow: hidden; }
  .inner img {
    transition: all 2s ease; }
  .inner:hover img {
    transform: scale(1.5); }

.mix-index {
  padding: 2vh; }

.granola-index {
  font-size: 2rem;
  max-width: 120vh; }

.pasas-index {
  padding: 2vh; }

.card-text {
  text-align: center;
  color: #464646; }

.padre {
  display: grid;
  justify-items: center; }

.descripcion {
  color: white; }


.card-mixs {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.productos-prod{
    
    padding-top: 15vh;
   ;
    
}

.btn {
  font-size: 2rem; }

.card-fs {
  margin-top: 1vh;
  margin-bottom: 1vh; }

.card-fd {
  margin-top: 1vh;
  margin-bottom: 1vh;}

.card-cereales {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.card-semillas {
  margin-top: 1vh;
  margin-bottom: 1vh; }

.card-choco {
  margin-top: 1vh;
  margin-bottom: 1vh; }

form fieldset label {
  color: white; }

.home-form {

    font-size: 3rem;
    
}

.form-control {
    
    font-size: 2rem;
    
}


.maps {
    
    padding-top: 10vh;
    
}

.form_contacto {

  color: white;
  align-items: center;
  font-size: 2rem;
  background-color: #ffa500;
  border: black 1vh solid;
  border-top-left-radius: 4vh;
  border-bottom-right-radius: 4vh;
  transition: all 1s; }

  .form_contacto:hover {
    padding: 1vh; }

main div.info {
    color: white;
    padding-top: 10vh;
    font-size: 2rem;
}

main div.aside-info {
    
    padding-top: 10vh;
    
}

.semillas-prod {
    
    padding-top: 15vh;
   
    
}

.cereales-prod {
    
    padding-top: 15vh;

    
}

.card-pad {
    
    margin: 1vh;
    width: 10vh;
    
}

.ft {
    
    background-color: #ffa500;
    
}




.footer-frase {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #242424; 
  font-size: 4rem;
}

.contactos-footer {
    
  text-align: center;
  text-transform: uppercase;
  color: #242424; 
  font-size: 2rem; 
    
}

.btn-primary {
  background-color: #242424;
  border-color: #ffa500; }
  .btn-primary:hover {
    background-color: #ffa500;
    border-color: #ffa500; }
  .btn-primary:active {
    background-color: #242424;
    border-color: #ffa500; }
  .btn-primary:visited {
    background-color: #242424;
    border-color: #ffa500; }

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
    }
  .navbar .nav-item:hover .nav-link {
    color: orange;
    }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;}

    
    

}


@media all and (max-width: 765px) {

 

    
    .no-puedo{
        
        height: 0vh;
        
    }
    
    
    .logo-png {

       display: flex;
        justify-content: center;
    }
    
    .fondo-frente {
    
        
        width: 45vh;
        height: 70vh;
        background-image: linear-gradient(to right, #81634f, #242424);
        z-index: -1;
        
    }
    
    .frente {
        
        padding-bottom: 5vh
        
    }
    
    .sociales {
        
        width: 18%;
        height: 27%;
                 
    }

    
    .video {
        
        height: 40vh;
        
    }
    
    nav {
        
        font-size: 50px;
        z-index: -1;
    }
    
    .footer-frase {
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: #242424; 
          font-size: 2rem;
}

    .contactos-footer {
    
    font-size: 1rem;
    color: #242424;
      
}
    
    main div.info {
    color: white;
    padding-top: 15vh;
    font-size: 1,5rem;
}

main div.aside-info {
    
    padding-top: 3vh;
    width: 50vh;
    
}
    
    .key {
        
    width: 40vh;
    height: 59vh; 
        
}
    
    .map{
        
        height: 50vh
        
    }
    
    .card-pad{
        
        margin: 1vh;
        
    }
    
    h2{
        
        font-size: 1.5rem;
        
    }

.navbar .nav-item .nav-link {
  color: white;
  font-size: 2rem;
  padding: 2vh;  
}
    
    .navbar {
        
        border: black 1px solid
        
    }
    
    }




















